@import "bourbon/bourbon";

$fg-column: 20px;    // Column Width
$fg-gutter: 0px;     // Gutter Width
$fg-max-columns: 24; // Total Columns For Main Container

$Size3: 32px;
$Size2: 28px;
$Size1: 22px;
$Size: 18px;

$color1: #323232; //Black
$color2: #f3f5f2; //Milky
$color3: #52bea6; //Green

$RobotoBlack: robotoblack, Helvetica, Arial;
$RobotoBold: robotoboldbold, Helvetica, Arial;
$RobotoCondensed: robotocondensed, Helvetica, Arial;
$RobotoLight: robotolight, Helvetica, Arial;
$RobotoLightItalic: robotolight_italic, Helvetica, Arial;
$RobotoRegular: robotoregularregular, Helvetica, Arial;
$RobotoThin: robotothin, Helvetica, Arial;
$RobotoThinItalic: robotothin_italic, Helvetica, Arial;